<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgqf.house.mapper.InstallmentMapper">
    <!-- 插入新分期 -->
    <insert id="insertInstallment" parameterType="Installment">
        insert into installment (i_contract_id,i_down_payment,i_total_periods,i_paid_count,i_paid_per_period)
        values (#{i_contract_id}, #{i_down_payment}, #{i_total_periods}, #{i_paid_count}, #{i_paid_per_period})
    </insert>

    <!-- 根据合同ID删除分期信息 -->
    <delete id="deleteByContractId" parameterType="int">
        delete from installment where i_contract_id = #{contractId}
    </delete>

</mapper>