<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgqf.house.mapper.SellerMapper">

    <!-- 根据卖家ID获取卖家信息 -->
    <select id="getSellerById" parameterType="int" resultType="com.zgqf.house.entity.Seller">
        SELECT * FROM seller WHERE s_id = #{sellerId}
    </select>

    <!-- 更新卖家信息 -->
    <update id="updateSeller" parameterType="com.zgqf.house.entity.Seller">
        UPDATE seller 
        SET s_name=#{s_name}, 
            s_describe=#{s_describe}, 
            s_phone=#{s_phone}, 
            s_email=#{s_email}, 
            s_website=#{s_website}
        WHERE s_id=#{s_id}
    </update>

    <!-- 新增卖家信息 -->
    <insert id="insert" parameterType="com.zgqf.house.entity.Seller">
        INSERT INTO seller (s_id, s_name, s_describe, s_phone, s_email, s_website)
        VALUES (#{s_id}, #{s_name}, #{s_describe}, #{s_phone}, #{s_email}, #{s_website})
    </insert>

</mapper>
